{% extends "layout.html" %}
{% block title %}: {{thank_you_page_title}}{% endblock %}
{% block content %}
<div class="container-narrow text-center p-4">
  <div class="text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="form-group p-3">
    <p>Thank you for completing the first survey. Please click on the button below to go to the second survey.</p>
    <a role="button" id="continue_button" class="btn btn-primary" href="http://localhost:5002/register?id={{ participant_id }}">Next survey</a>
  </div>
</div>
{% endblock %}