{% extends "admin-layout.html" %}

    {% block content %}
        <div id="dashboard" class="container-fluid">
            <div class="row text-center">
                <h1 class="fs-3">Admin Dashboard</h1>
            </div>
            <hr/>
            <div class="row">
                <div id="left-column" class="col-6">
                    {% if  active_study %}
                        <div id="current-study" class="p-2">
                            <h2 class="fs-4">Current Study</h2>
                            <p>Name: {{ website_title }}</p>
                            <p>Total Participants: {{ participant_count }}</p>
                            <p>Latest Registration: {{ latest_registration }}</p>
                            <p>Total Judgements: {{ total_judgements }}</p>
                            <p>Skipped Judgements: {{ skipped_judgements }}</p>
                        </div>
                        <hr/>
                        {% if participant_count > 0 %}
                            <div id="export-data" class="p-2">
                                <h2 class="fs-4">Export data</h2>
                                <p>Export the database from the current study (the data will also stay on the server).</p>
                                <form method="POST" action="/admin/export">
                                    <input type="submit" value="Export Data"/>
                                </form>
                            </div>
                            <hr/>
                        {% endif %}
                        {% if local_file_edits %}
                        <div id="edit-pages" class="p-2">
                            <h2 class="fs-4">Edit Pages</h2>
                            {% if edit_instructions %}
                                <div class="pb-2 pt-2">
                                    <form method="POST" action="/admin/edit-page">
                                        <input type="hidden" name="page_type" value="instructions"/>
                                        <input class="btn btn-secondary" type="submit" value="Edit Instructions"/>
                                    </form>
                                </div>
                            {% endif %}
                            {% if edit_ethics_agreement %}
                                <div  class="pb-2 pt-2">
                                    <form method="POST" action="/admin/edit-page">
                                        <input type="hidden" name="page_type" value="ethics"/>
                                        <input class="btn btn-secondary" type="submit" value="Edit Ethics Agreement"/>
                                    </form>
                                </div>
                            {% endif %}
                            {% if edit_site_policies %}
                                <div  class="pb-2 pt-2">
                                    <form method="POST" action="/admin/edit-page">
                                        <input type="hidden" name="page_type" value="policies"/>
                                        <input class="btn btn-secondary"  type="submit" value="Edit Site Policies"/>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% else %}
                        <h2 class="fs-4">Current Study</h2>
                        <p>There is no active study. You can start a new one in the 'Start new study' section.</p>
                    {% endif %}
                </div>
                <div id="right-column" class="col-6">
                    <div id="new-study" class="p-2">
                        <h2 class="fs-4">Start new study</h2>
                        <p>Starting a new study will delete all of the images and other files associated with the current study so the current study will stop working.</p>
                        <p>When you have uploaded all of the files for the new study the data from the current study will also be deleted.
                        Please ensure you have exported the data before you start this process.
                        </p>
                        <form method="POST" action="/admin/new-study">
                            {{ form.csrf_token }}                           
                            <div class="row pb-4">
                                <div class="col-1">
                                    {{ form.deletion_confirmation }}
                                </div>
                                <div class="col-11">
                                    {{ form.deletion_confirmation.label }}
                                </div>
                            </div>
                            <input class="btn btn-secondary" type="submit" value="Start New Study"/>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    {% endblock %}